#logo {
	display: flex;
	justify-content: space-around;
	text-align: left;
	background-color: black;
	height: 150px;
	}
#menu{
	margin-top: 50px;
}
#logo > .nav_menu {	
    margin-left: 30px;    
    }
#logo_tech{
	margin-top: -10px;
	width: 40%;
}



#foot {
	text-align: center;
	font-family: Tahoma;
	font-size: 18px;
	margin-top: -8px;
	margin-bottom: 0px;
	background-color: black;
	width: 1900px;
	height:30px;
	color: white;
	}
#hrr {
  	height: 10px;
  	background-color: #aad400;
  	margin-top: 30px;
  	border: 0px;
  }
ul {
	list-style-type: none;
	text-align: center;
	text-decoration: none;
	font-family: Tahoma;	
	display: line;
	font-size: 34px;
	word-spacing: 60px;
}
li {
	display: inline;
	word-spacing: 0px;
	text-decoration: none;
	font-size: 20px;
	}
a {
	text-decoration: none;
	text-align: center;
	color: #625050;
	background-color: white; 
	text-decoration: bold;
	border-radius: 5px;
	padding: 5px;	
	
}
a:hover {
	background-color: gray;
	color: white;
}
h1 {
	font-size: 24px;
	font-family: Tahoma;
	
}
h2 {
	font-size: 24px;
	font-family: Tahoma;
	
}
h5 {
	text-align: center;
}
section{
	display: grid;	
	width: 1300px;
	height: 690px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	align-items: start;
	margin-left: 42px;	

}
#aside {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr  1fr;
	width: 300px;
	height: 280px;
	background: rgb(202, 200, 200); 
	border: 2px solid black;
	
	
}
button{
	
	/* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	height: 25px;
	width: 60px;
	justify-self: center;
	margin-top: -10px;
	margin-bottom: 10px; */
	/* padding: 0;
	border: none;
	background: none; */
}
.text_box{
	margin-top: 5px;
	text-align: center;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-style: italic;
}


#panel{
	display: flex;
	justify-content: center;
	margin: 50px;
}
article{	
	width: 430px;
	height: 690px;
	background-color: rgb(202, 200, 200);
	justify-self: center;
	margin: 10px;
	
}
article > p{
	text-align: justify;
	padding: 20px;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	 font-size: 20px
}
article > h1{
	text-align: center;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
	text-align: center;

}
article > img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 220px;
	border: 1px solid rgb(114, 114, 153);
}
