#logo {
	display: flex;
	justify-content: flex-start;
	text-align: left;
	background-color: black;
	height: 150px;
	}

#logo.nav_menu {
	
    margin-left: 30px;    
    }
#logo_tech{
	margin-top: -10px;
}
#articulo1 {
	text-align: justify;
	font-family: Tahoma;
	width: 500px;
	height: 30px;
	margin-top: -210px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 480px;
}
#articulo2 {
	text-align: justify;
	font-family: Tahoma;
	width: 500px;
	height: 120px;
	margin-top: -162px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 480px;
}#articulo3 {
	text-align: justify;
	font-family: Tahoma;
	width: 500px;
	height: 220px;
	margin-top: -170px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 480px;
}
#imagen1 {
	border:5px solid gray; 
	margin-top: 10px;
	margin-bottom: 50px;
	margin-right: 0px;
	margin-left: 80px;
	width: 370px;
	height: 200px;
	text-align: left;
	}
#imagen2 {
	border:5px solid gray; 
	margin-top: 10px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 80px;
	width: 370px;
	height: 200px;
	text-align: left;
	}
#aside {
	float: right;
	text-align: center;
	font-family: Tahoma;
	font-size: 22;
	font-weight: bold;
	background-color: #666666;
	margin-top: -800px;
	margin-bottom: 0px;
	margin-right: 30px;
	margin-left: 0px;
	}
#pie {
	text-align: center;
	font-family: Tahoma;
	font-size: 18px;
	margin-top: -8px;
	margin-bottom: 0px;
	background-color: black;
	width: 1900px;
	height:30px;
	color: white;
	}
#hrr {
  	height: 10px;
  	background-color: #aad400;
  	margin-top: 30px;
  	border: 0px;
  }
ul {
	list-style-type: none;
	text-align: center;
	text-decoration: none;
	font-family: Tahoma;	
	display: line;
	font-size: 34px;
	word-spacing: 60px;
}
li {
	display: inline;
	word-spacing: 0px;
	text-decoration: none;
	font-size: 20px;
	}
a {
	text-decoration: none;
	text-align: center;
	color: #625050;
	background-color: white; 
	text-decoration: bold;
	border-radius: 5px;
	padding: 5px;	
	
}
a:hover {
	background-color: gray;
	color: white;
}
h1 {
	font-size: 24px;
	font-family: Tahoma;
	margin-top: 80px;
	margin-bottom: -35px;
    margin-left:  480px;
    margin-right: 0px;  
}
h2 {
	font-size: 24px;
	font-family: Tahoma;
	margin-top: 180px;
	margin-bottom: -35px;
    margin-left:  480px;
    margin-right: 390px;
}
h5 {
	text-align: center;
}
section{
	display: grid;
	background: papayawhip;
	width: 1200px;
	height: 1200px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;

}
article{
	place-self: center;
}